# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environment
.venv/
venv/

# Environment variables / secrets
.env

# PyCharm
.idea/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local databases
*.db
*.sqlite
*.sqlite3